.header{
    background: url(img/pexels-suludan-diliyaer-596750.jpg);
    background-repeat: repeat;
 }
  
.games {
    background: url(img/pexels-suludan-diliyaer-596750.jpg);
margin: auto; 

 } 
.color_text{color: #00ccf9;

}

